
Estas son imagenes del paso a paso para compilar la app para andriod.
http://www.subeimagenes.com/img/1-1358160.html   Se inicia secion con cuenta google.
http://www.subeimagenes.com/img/2-1358162.html
http://www.subeimagenes.com/img/3-1358164.html   
http://www.subeimagenes.com/img/4-1358165.html
http://www.subeimagenes.com/img/5-1358166.html     Se arrastran esos botones al screen.
http://www.subeimagenes.com/img/6-1358168.html     Tambien ese.
http://www.subeimagenes.com/img/7-1358170.html    
http://www.subeimagenes.com/img/8-1358171.html
http://www.subeimagenes.com/img/9-1358172.html        Se arrastra ese boton al screen.
http://www.subeimagenes.com/img/10-1358173.html      Se arrastra ese boton al screen y se hace envonar con el otro.
http://www.subeimagenes.com/img/11-1358174.html     Igual este, solo se pone encima como rompecabezas para q se unan.
http://www.subeimagenes.com/img/12-1358175.html
http://www.subeimagenes.com/img/13-1358176.html
http://www.subeimagenes.com/img/14-1358178.html    2a opcion si prefiere pasarlo desde la pc al android.
http://www.subeimagenes.com/img/15-1358183.html
http://www.subeimagenes.com/img/16-1358184.html    Se escaneal el codigo con camara, se descarga y se instala. 
